/.idea/copyright/Geeks_Empire.xml
/.idea/copyright/profiles_settings.xml
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/.idea/libraries/Flutter_Plugins.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
