<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730794126051-ji3lgkenlhldbodgrcditlq11r0alfdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730794126051-ji3lgkenlhldbodgrcditlq11r0alfdr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>730794126051-1krtbvboikgaq8g0dck413tpmkqjhl4n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoZW3pkwG09Qm9B_Hh24SkBMPPjgy9O3I</string>
	<key>GCM_SENDER_ID</key>
	<string>730794126051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.geeksempire.sachiels.ai.candlesticks.candlesticks</string>
	<key>PROJECT_ID</key>
	<string>sachiel-s-signals</string>
	<key>STORAGE_BUCKET</key>
	<string>sachiel-s-signals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730794126051:ios:d779887585e68349ffb3d6</string>
	<key>DATABASE_URL</key>
	<string>https://sachiel-s-signals-default-rtdb.firebaseio.com</string>
</dict>
</plist>